footer{
    margin-top: 15px;
    width: 100%;
    height: 45px;
    display: flex;
    color: white;
    justify-content: space-around;   
}
.section1{
    display: flex;
    flex-direction: row;
    background-color: #c4c4c4;
    text-align: center;
}